<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-38</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <fieldset>
            <legend>Filtre sur le nom</legend>
            <input type="text" v-model="filtreNom">
        </fieldset>

        <fieldset>

            <legend>Options</legend>

            <label>Homme </label>
            <input type="checkbox" checked v-model="homme">
            
            <label>Femme </label>
            <input type="checkbox" checked v-model="femme">

            <label>Téléphone </label>
            <input type="checkbox" checked v-model="tel">

            <label>Photo </label>
            <select v-model="taille">
                <option value="1">Petit</option>
                <option value="2" selected>Moyen</option>
                <option value="3">Grand</option>
            </select>

            <label>Mise en forme </label>
            <input type="checkbox" v-model="mef">

        </fieldset>

        <div class="personne" 
             v-for="p in personnes"
             :class="{misEnForme: mef}">

            <div v-if="(((homme && p.name.title=='Mr') 
                       || (femme && p.name.title=='Mrs'))
                       &&  (p.name.last.indexOf(filtreNom)>=0
                       || filtreNom=='')) ">
                       
                <img v-if="taille==1" :src="p.picture.thumbnail">
                <img v-else-if="taille==2" :src="p.picture.medium">
                <img v-else :src="p.picture.large">

                {{p.name.title}} {{p.name.first}} {{p.name.last}}<br>

                <div v-show="tel">{{p.phone}}</div>
                <div>{{p.location.country}}</div>
            </div>

        </div>

    </div>

</body>
<script src="main.js"></script>

</html>