body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    float: left;
    margin-right: 1rem;
}
.personne {
    clear: left;
    padding: 1rem;
}
input[type="checkbox"], select {
    margin-right: 1rem;
}
.misEnForme {
    background: #e0ffff;
    font-family: georgia;
    font-size: 1.2rem;
    margin: 1rem;
}